### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media


### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

!.data/*
.env